.TotalDiv{
    align-items: center;
    margin-left: 12vh;
    margin-right: 12vh;
    display: flex;
    height: 70vh;
    margin-bottom: 10vh;
}
.AboutEniconnect{
    width: 100vh;
    margin-left: 10vh;
    border-radius: 12px;
    background: rgba(15, 28, 130, 0.20);
    height: 60vh;
}
.EnitPic{
    position: relative;
    width: 50vh;
    height: 60vh;
    margin: 0 auto;
    background: url(../assets/enit_cover.jpg)      no-repeat center;
    background-size: cover;
    border-radius: 40px;
    box-sizing: content-box;
    margin-left: 10%;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.title1{
    color: var(--Dark-100, #333);
text-align: center;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
display: flex;
width: 393px;
height: 56px;
flex-direction: column;
justify-content: center;
font-weight: bold;



}

.textAbout{
    color: var(--Dark-100, #333);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 125% */
    height: 100vh;
    align-self: stretch;
    

}

.container2{
    margin: 4vh;

}
@media (max-width: 768px) {
    .title1 {
      font-size: 1.5rem; /* Plus petite sur les écrans mobiles */
    }
  
    .textAbout {
      font-size: 0.9rem; /* Plus petite sur les écrans mobiles */
    }
  }