/* HomeFooter.css */

.Footer1 {
  height: auto; /* Ajustement automatique de la hauteur */
  background: rgb(4, 32, 67); /* Couleur de fond */
  display: flex;
  flex-direction: column; /* Aligne les éléments verticalement */
  text-align: center; /* Centre le texte */
  justify-content: center; /* Centre verticalement */
  padding: 10px; /* Ajoutez un padding */
  color: white; /* Couleur du texte */
}

.footer-content {
  display: flex; /* Utilise Flexbox pour aligner les sections */
  justify-content: space-between; /* Espace entre les deux sections */
  width: 100%; /* Prend toute la largeur */
  padding: 0 10px; /* Ajoutez du padding */
}

.logo2 {
  /* Ajoutez ici vos styles de logo */
  background-size: cover;
  width: 100%; /* Réglez à 100% pour qu'il soit responsive */
  height: auto; /* Ajustement automatique de la hauteur */
  max-width: 25vh; /* Limitez la taille maximale */
  margin: 20px auto; /* Centrez le logo */
}

.copyright {
  margin-top: 1vh;
  width: 100%; /* Réglez à 100% */
  padding: 0 10px; /* Ajoutez un padding */
}

h4, h3 {
  color: white; /* Couleur du titre */
  margin-bottom: 10px; /* Espace sous le titre */
}
.contribution p {

  color: rgb(155, 148, 148);
  font-size: 0.8em; /* Réduisez la taille de la police ici */
  line-height: 1.4; /* Ajustez l'interligne si nécessaire */
}

h7 {
  color: white;
  font-size: 0.8em;
  line-height: 1.5;
  margin: 20px;
  text-align: left;
}

.contact {
  margin-top: 4vh;
  width: 100%; /* Réglez à 100% */
  padding: 0 10px; /* Ajoutez un padding */
}

@media (max-width: 768px) {
  .Footer1 {
      padding: 15px;
  }

  h3 {
      font-size: 1.2em; /* Ajustez la taille du texte pour les petits écrans */
  }

  h7 {
      font-size: 0.7em; /* Ajustez la taille du texte pour les petits écrans */
  }

  .logo2 {
      max-width: 20vh; /* Réglez la taille maximale pour les petits écrans */
  }
}