.Footer1{
    height: 35vh;
    background: black ;
    display: flex;
    text-align: center;
    justify-content: center;
}
.logo2{

    background-size: cover;
    box-sizing: content-box;
    position: relative;
    width: 25vh;
    height: 3vh;
    margin: 4vh 19vh 11vh 10vh ;

   
}


.copyright{
    margin-top: 1vh;
    width: 75vh;
    margin-left: 4vh;
    margin-right: 2vh;
    
}
h3 {
    color: white; /* Couleur du texte */
    font-size: 1.5em; /* Taille de la police */
    text-align: center; /* Alignement du texte au centre */
    
  }
  
  h7 {
    color: white; /* Couleur du texte */
    font-size: 0.8em; /* Taille de la police */
    text-align: center; /* Alignement du texte au centre */
    line-height: 1.5; /* Espacement entre les lignes */
    margin: 20px; /* Marge autour du texte */
    text-align:left ;
    
  }
  .contact{
    margin-top: 4vh;
    width: 60vh;
    margin-left: 15vh;
  
  }